<div class="container mt-3">
 <%= render "shared/navbar" %>
  <div class="row">
    <div class="col">
     <% @listings.each do | listing | %>
    <div>
   <% if listing.photo.attached? %>
    <%= cl_image_tag listing.photo.key, height: 300, width: 400, crop: :fill %>
   <% else %>
    <%= image_tag "default_image.jpg", height: 300, width: 400 %>
   <% end %>
     </div>
    <div style="width: 50%; word-wrap: break-word;">
     <strong>Name:</strong> <%= listing.name %>
     </div>
      <div style="width: 50%; word-wrap: break-word;">
     <strong>Description: </strong><%= listing.description %>
     </div>
     <strong>Price: </strong><%= listing.price %>
      <div style="width: 50%; word-wrap: break-word;">
     <strong>Capacity: </strong><%= listing.capacity %>
     </div>
     <%end%>
    </div>
  </div>
