<%= render "shared/navbar" %>

<div class="container my-4">
  <div class="row">
    <div class="col-6">
      <h1><%= @listing.name %></h1>
    </div>
    <div id="title-bar-links" class="col-6">
      <button class="btn btn-light">Share</button>
      <button class="btn btn-light">Save</button>
    </div>
  </div>
  <div class="row m-4"> <%# Picture row %>
    <div class="col-12 m-4" style="height: 500px; background-image: url('https://www.capitaland.com/en/find-a-property/global-property-listing/residential/the-interlace/_jcr_content/root/container/container/entitydetails.coreimg.85.1600.jpeg/content/dam/capitaland-media-library/residential/Singapore/Singapore/The%20Interlace/Interlace_Woh%20Hup%20and%20CLS.jpg'); background-size: cover; background-position: center;">
    </div>
  </div>
  <div class="row"> <%# Listing details row %>
    <div class="col-8"> <%# Listing details column %>
      <div class="row my-4"> <%# Listing name and room details row %>
        <h2>Presidential Suite @ The Interlace</h2>
        <p>2 guests, 1 bedroom, 1 King bed, 1 bath</p>
      </div>
      <div class="row"> <%# Listing rating row %>
      </div>
      <div class="row"> <%# Listing host row %>
      </div>
      <div class="row my-4"> <%# Listing perks %>
        <div class="row">
          <h5>Dive right in</h5>
          <p>This is one of the few places in the area with a pool.</p>
        </div>
        <div class="row">
          <h5>Self check-in</h5>
          <p>You can check in with the building staff.</p>
        </div>
        <div class="row">
          <h5>Free cancellation within 48hrs</h5>
          <p>Get a full refund if you change your mind.</p>
        </div>
      </div>
      <div class="row my-4"> <%# Listing details %>
        <h3>About The Interlace</h3>
        <p><%= @listing.description %></p>
      </div>
      <div class="row my-4"> <%# Listing amenities %>
        <h3>What this place offers</h3>
        <div class="col-4">
          <p>Free parking</p>
          <p>Air conditioning</p>
          <p>Luggage drop-off allowed</p>
        </div>
        <div class="col-4">
          <p>Wifi</p>
          <p>Pool</p>
          <p>Private balcony</p>
        </div>
      </div>





        <p><%= @listing.address %></p>
        <p><%= @listing.location.country_code %></p>
    </div>
    <div class="col-4"> <%# Calendar form column %>
      <%= simple_form_for Booking.new, url: new_listing_booking_path(@listing), method: :get, html: { data: { controller: "datepicker" } } do |f| %>
        <input type="text" data-datepicker-target="dateInput">
        <%= f.input :start_date,
            as: :string,
            wrapper_html: { class: "d-none" },
            input_html: { data: { datepicker_target: "startDate" } } %>
        <%= f.input :end_date,
            as: :string,
            wrapper_html: { class: "d-none" },
            input_html: { data: { datepicker_target: "endDate" } } %>
        <%= f.input :number_of_guests %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
