<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <%= link_to root_path do %>
      <%= image_tag "fake_airbnb.png", class: "logo me-3" %>
    <% end %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="ms-auto d-flex align-items-center">
        <form class="d-flex my-2 my-lg-0" data-controller="search-form" data-turbo-frame="listings">
          <input class="form-control me-2" name="query" type="search" placeholder="Search" aria-label="Search" value="<%= params[:query] %>" data-action="input->search-form#submit">
        </form>
        <%= link_to "Add Listing", new_listing_path, class: "btn btn-outline-primary my-2 my-sm-0 ms-2" %>
        <% if user_signed_in? %>
          <div class="d-flex align-items-center">
            <div class="dropdown">
              <div class="avatar ms-2" style="width: 40px; height: 40px; border-radius: 50%; overflow: hidden; cursor: pointer;" data-bs-toggle="dropdown">
                <%= image_tag current_user.avatar.attached? ? current_user.avatar : "default_avatar.png", class: "w-100 h-100" %>
              </div>
              <div class="dropdown-menu dropdown-menu-end">
              <span class="dropdown-item-text"><%= current_user.email %></span>
              <div class="dropdown-divider"></div>
                <%= link_to "Bookings", bookings_path, class: "dropdown-item" %>
                <%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %>
                <%= button_to "Logout", destroy_user_session_path, class: "dropdown-item", method: :delete %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</nav>
<hr style="height: 1px; background-color: #ADB5BD; border: none; margin: 0; width: 100vw; position: relative; left: 50%; transform: translateX(-50%);">
