<!DOCTYPE html>
<html>
  <head>
    <title>Airbnb1865</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" href="https://a0.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  </head>

  <body>
    <%= render "shared/flashes" %>
    <div class="<%= 'container' unless current_page?(new_user_session_path) || current_page?(new_user_registration_path) || current_page?(new_password_path(resource_name)) %>">
      <%= render "shared/navbar" unless current_page?(new_user_session_path) || current_page?(new_user_registration_path) || current_page?(new_password_path(resource_name)) %>
      <%= yield %>
    </div>
  </body>
</html>
